<div class="container">
  <h1>Dashboard</h1>
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header no-border bg-white pb-0">
          <ul class="nav nav-pills lavalamp mb-2" id="tabs-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="tabs-my-profile-tab" data-bs-toggle="pill" href="#tabs-my-profile" role="tab" aria-controls="tabs-my-profile" aria-selected="false" onclick="return false">My profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="tabs-my-bookings-tab" data-bs-toggle="pill" href="#tabs-my-bookings" role="tab" aria-controls="tabs-my-bookings" aria-selected="true" onclick="return false">My Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tabs-my-bikes-tab" data-bs-toggle="pill" href="#tabs-my-bikes" role="tab" aria-controls="tabs-my-bikes" aria-selected="false" onclick="return false">My Bikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tabs-my-requests-tab" data-bs-toggle="pill" href="#tabs-my-requests" role="tab" aria-controls="tabs-my-requests" aria-selected="false" onclick="return false">My Requests</a>
            </li>
          </ul>

        </div>
        <div class="card-body">
          <div class="tab-content" id="tabs-tabContent">
            <div class="tab-pane fade " id="tabs-my-profile" role="tabpanel" aria-labelledby="tabs-my-profile-tab">
              <ul>
                  <li>
                    <%= current_user.username%>
                  </li>
              </ul>
            </div>
            <div class="tab-pane fade show active" id="tabs-my-bookings" role="tabpanel" aria-labelledby="tabs-my-bookings-tab">
            <h2>Pending bookings</h2>
              <div class="cards-grid">
              <%if Booking.where(user_id: current_user).select{|booking| booking.status == "pending"}.empty?%>
                  <p>There are no pending bookings.</p>
              <% else %>
                  <% Booking.where(user_id: current_user).each do |booking|%>
                    <%if booking.status == "pending"%>
                        <div class="card-bike">
                        <%= cl_image_tag booking.bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                          <div class="card-bike-infos" style="display:flex; flex-direction:column; align-items:flex-start;">
                            <div class="card-info" style="height: auto;">
                              <span><strong>From: </strong><%= booking.start_date %></span>
                              <span><strong>To: </strong><%= booking.end_date %></span>
                              <span><strong>Location: </strong><%= booking.bike.location %></span>
                              <span><strong>Model: </strong><%= booking.bike.model %></span>
                              <span><strong>Category: </strong><%= booking.bike.category %></span>
                              <span><strong>Total price: </strong><%= booking.total_price %> €</span>
                              <span><strong>Status: </strong><%= booking.status %></span>
                            </div>
                              <div style="display:flex; justify-content:center; width:100%;margin-top:16px;">
                              <%= link_to "See bike", bike_path(booking.bike), class: "btn pink-btn", style:"border-radius:4px;width:100%;"%>
                            </div>
                          </div>
                        </div>
                    <%end%>
                  <%end%>
                <%end%>
              </div>
              <h2>Accepted bookings</h2>
              <div class="cards-grid">
              <%if Booking.where(user_id: current_user).select{|booking| booking.status == "accepted"}.empty?%>
                  <p>There are no accepted bookings.</p>
              <% else %>
                  <% Booking.where(user_id: current_user).each do |booking|%>
                    <%if booking.status == "accepted"%>
                        <div class="card-bike">
                        <%= cl_image_tag booking.bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                          <div class="card-bike-infos" style="display:flex; flex-direction:column; align-items:flex-start;">
                            <div class="card-info" style="height: auto;">
                              <span><strong>From: </strong><%= booking.start_date %></span>
                              <span><strong>To: </strong><%= booking.end_date %></span>
                              <span><strong>Location: </strong><%= booking.bike.location %></span>
                              <span><strong>Model: </strong><%= booking.bike.model %></span>
                              <span><strong>Category: </strong><%= booking.bike.category %></span>
                              <span><strong>Total price: </strong><%= booking.total_price %> €</span>
                              <span><strong>Status: </strong><%= booking.status %></span>
                            </div>
                            <div style="display:flex; justify-content:center; width:100%;margin-top:16px;">
                              <%= link_to "See bike", bike_path(booking.bike), class: "btn pink-btn", style:"border-radius:4px;width:100%;"%>
                            </div>
                            <% unless booking.reviews.empty? %>
                            <div class="container" style="margin-top:12px;display:flex; flex-direction:column; align-items:flex-start;border-style:solid;border-width:2px;border-color:#fc7c6c;border-radius:4px;">
                              <div style="display:flex;">
                                <span><strong>Rating: </strong>
                                <% booking.reviews.first.rating.times do %>
                                <span class="fa fa-star checked"></span>
                                <%end%>
                                </span>
                              </div>
                              <span><strong>Comment: </strong><%= booking.reviews.first.comment %></span>
                            </div>
                            <% else %>
                              <% if booking.reviewable? && policy(booking).new? %>
                                <%= render "reviews/new", booking: booking, review: Review.new %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                    <%end%>
                  <%end%>
                <%end%>
              </div>
              <h2>Rejected bookings</h2>
              <div class="cards-grid">
              <%if Booking.where(user_id: current_user).select{|booking| booking.status == "rejected"}.empty?%>
                  <p>There are no rejected bookings.</p>
              <% else %>
                  <% Booking.where(user_id: current_user).each do |booking|%>
                    <%if booking.status == "rejected"%>
                        <div class="card-bike">
                        <%= cl_image_tag booking.bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                          <div class="card-bike-infos" style="display:flex; flex-direction:column; align-items:flex-start;">
                            <div class="card-info" style="height: auto;">
                              <span><strong>From: </strong><%= booking.start_date %></span>
                              <span><strong>To: </strong><%= booking.end_date %></span>
                              <span><strong>Location: </strong><%= booking.bike.location %></span>
                              <span><strong>Model: </strong><%= booking.bike.model %></span>
                              <span><strong>Category: </strong><%= booking.bike.category %></span>
                              <span><strong>Total price: </strong><%= booking.total_price %> €</span>
                              <span><strong>Status: </strong><%= booking.status %></span>
                            </div>
                            <div style="display:flex; justify-content:center; width:100%;margin-top:16px;">
                              <%= link_to "See bike", bike_path(booking.bike), class: "btn pink-btn", style:"border-radius:4px;width:100%;"%>
                            </div>
                          </div>
                        </div>
                    <%end%>
                  <%end%>
                <%end%>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-my-bikes" role="tabpanel" aria-labelledby="tabs-my-bikes-tab">
              <div class="cards-grid">
                <% Bike.where(user_id: current_user).each do |bike|%>
                    <div class="card-bike">
                        <%= cl_image_tag bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                          <div class="card-bike-infos" style="display:flex; flex-direction:column; align-items:flex-start;">
                            <div class="card-info" style="height: auto;">
                              <span><strong>Name: </strong><%= bike.name  %></span>
                              <span><strong>Model: </strong><%= bike.model %></span>
                              <span><strong>Location: </strong><%= bike.location %></span>
                              <span><strong>Category: </strong><%= bike.category %></span>
                              <span class="text-ellipsis"><strong>Description: </strong><%= bike.description %></span>
                              <span><strong>Price per day: </strong><%= bike.price_per_day %> €</span>
                            </div>
                            <div style="display:flex; justify-content:center; width:100%;margin-top:16px;">
                              <%= link_to "See bike", bike_path(bike), class: "btn btn-accept", style:"border-radius:4px;width:100%;"%>
                            </div>
                            <div style="display:flex; justify-content:center; width:100%;margin-top:8px;">
                              <%= link_to "Edit bike", edit_bike_path(bike), class: "btn btn-reject", style:"border-radius:4px;width:100%;"%>
                            </div>
                          </div>
                        </div>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-my-requests" role="tabpanel" aria-labelledby="tabs-my-requests-tab">
              <h2>Pending requests</h2>
              <div class="cards-grid">
                <%if @requests.select{|request| request.status == "pending"}.empty?%>
                  <p>There are no pending requests.</p>
                <% else %>
                  <% @requests.each do |request|%>
                  <%if request.status == "pending"%>
                  <div class="card-bike">
                    <%= cl_image_tag request.bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                        <div class="card-content">
                          <div class="card-bike-infos" style="display:flex; flex-direction:column; align-items:flex-start;">
                            <div class="card-info" style="height: auto;">
                              <span><strong>Requesting user: </strong><%= request.user.username %></span>
                              <span><strong>From: </strong><%= request.start_date %></span>
                              <span><strong>To: </strong><%= request.end_date %></span>
                              <span><strong>Name: </strong><%= request.bike.name %></span>
                              <span><strong>Location: </strong><%= request.bike.location %></span>
                              <span><strong>Total price: </strong><%= request.total_price %> €</span>
                            </div>
                            <div style="display:flex; justify-content:space-evenly; width:100%;margin-top:16px;">
                              <%= link_to "Accept", accept_path(request), class: "btn btn-accept", style:"border-radius:4px;"%>
                              <%= link_to "Reject", reject_path(request), class: "btn btn-reject", style:"border-radius:4px;--bs-btn-color: white;"%>
                            </div>
                          </div>
                      </div>
                    </div>
                  <%end%>
                  <%end%>
                <% end %>
              </div>
              <h2>Accepted requests</h2>
              <div class="cards-grid">
                <%if @requests.select{|request| request.status == "accepted"}.empty?%>
                  <p>There are no accepted requests.</p>
                <% else %>
                      <% @requests.each do |request|%>
                      <%if request.status == "accepted"%>
                      <div class="card-bike">
                        <%= cl_image_tag request.bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                          <div class="card-bike-infos" style="display:flex; flex-direction:column; align-items:flex-start;">
                            <div class="card-info" style="height: auto;">
                              <span><strong>Requesting user: </strong><%= request.user.username %></span>
                              <span><strong>From: </strong><%= request.start_date %></span>
                              <span><strong>To: </strong><%= request.end_date %></span>
                              <span><strong>Name: </strong><%= request.bike.name %></span>
                              <span><strong>Location: </strong><%= request.bike.location %></span>
                              <span><strong>Total price: </strong><%= request.total_price %> €</span>
                              <span><strong>Status: </strong><%= request.status %></span>
                            </div>
                            <div style="display:flex; justify-content:center; width:100%;margin-top:16px;">
                              <%= link_to "See bike", bike_path(request.bike), class: "btn pink-btn", style:"border-radius:4px;width:100%;"%>
                            </div>
                            <% unless request.reviews.empty? %>
                            <div class="container" style="margin-top:12px;display:flex; flex-direction:column; align-items:flex-start;border-style:solid;border-width:2px;border-color:#fc7c6c;border-radius:4px;">
                              <div style="display:flex;">
                                <span><strong>Rating: </strong>
                                <% request.reviews.first.rating.times do %>
                                <span class="fa fa-star checked"></span>
                                <%end%>
                                </span>
                              </div>
                              <span><strong>Comment: </strong><%= request.reviews.first.comment %></span>
                            </div>
                            <% end %>
                          </div>
                        </div>
                      <%end%>
                      <%end%>
                <%end%>
              </div>
              <h2>Rejected requests</h2>
              <div class="cards-grid">
                <%if @requests.select{|request| request.status == "rejected"}.empty?%>
                  <p>There are no rejected requests.</p>
                <% else %>
                  <% @requests.each do |request|%>
                  <%if request.status == "rejected"%>
                  <div class="card-bike">
                    <%= cl_image_tag request.bike.photo.key, height: 300, crop: :fill, style:"object-fit: contain;" %>
                      <div class="card-bike-infos ">
                        <div class="card-info" style="height: auto;">
                          <span><strong>Requesting user: </strong><%= request.user.username %></span>
                          <span><strong>From: </strong><%= request.start_date %></span>
                          <span><strong>To: </strong><%= request.end_date %></span>
                          <span><strong>Name: </strong><%= request.bike.name %></span>
                          <span><strong>Location: </strong><%= request.bike.location %></span>
                          <span><strong>Total price: </strong><%= request.total_price %> €</span>
                          <span><strong>Status: </strong><%= request.status %></span>
                        </div>
                      </div>
                    </div>
                  <%end%>
                  <%end%>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
