<% @bikes.each do |bike| %>
      <%= link_to bike_path(bike) do %>
        <div class="card-bike">
        <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-bike-infos ">
            <div class="card-info">
              <h2 class="text-ellipsis"><%= bike.model %></h2>
              <span><%= bike.location %></span>
              <p class="text-ellipsis--2"><%= bike.description %></p>
            </div>
            <h2 class="card-trip-pricing">€<%= bike.price_per_day %> / day</h2>
            <%# <%= cl_image_tag bike.user.photo.key, height: 300, width: 400, crop: :fill %>
            <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="card-bike-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
