<%# Displaying bike and owner infos %>
<div class="container" style="padding: 30px 100px 30px 100px">
  <div class="bike-header">
    <div>
      <h1><%= @bike.name %></h1>
      <h5>Model: <%= @bike.model %></h5>
      <h5><%= @bike.location %></h5>
    </div>
    <button type="button" class="btn btn-outline-dark back-btn"><%= link_to "See all bikes", bikes_path %></button>
  </div>
  <div class="bike-picture">
    <% if @bike.photo.attached? %>
      <%= cl_image_tag @bike.photo.key, crop: :fill %>
    <% end %>
  </div>
  <div class="bike-page-infos border-bottom">
    <div class="bike-owner-infos col-md-6", style="padding-right: 35px">
      <div class="owner-infos">
        <h4><strong>Owner: <%= @bike.user.username %></strong></h4>
        <% if @bike.user.photo.attached? %>
          <%= cl_image_tag @bike.user.photo.key, crop: :fill, class: "avatar-bordered" %>
        <% end %>
      </div>
      <div>
        <p><strong>Category: </strong><%= @bike.category %></p>
        <p><strong>Model: </strong><%= @bike.model %></p>
        <p><%= @bike.description %></p>
      </div>
    </div>

<%# Displaying booking form %>
    <div class="col-md-6">
      <div class="bg-white border d-grid gap-2 p-3"
            data-controller="compute-price">
        <span class="price-per-day d-none" data-compute-price-target="pricePerDay"><%= @bike.price_per_day %></span>

        <h5><strong><%= @bike.price_per_day %>€ per day</strong></h5>
        <%= simple_form_for [@bike, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true, :input_html => { :data => {
            :target => "compute-price.startDate",
            :action => "change->compute-price#compute"} } %>
          <%= f.input :end_date, as: :date, html5: true, :input_html => { :data => {
            :target => "compute-price.endDate",
            :action => "change->compute-price#compute"} } %>
          <div class="d-grid gap-2 p-1">
            <%= f.submit value: "Book now", class: "booking-button btn pink-btn mb-2" %>
          </div>
        <% end %>
        <div class="pricing d-none" data-compute-price-target="pricingBlock">
          <div class="price-container p-1">
            <div class="day-price">
              <span class="price-per-day"><%= @bike.price_per_day %>€</span>
              <span data-compute-price-target="numberOfDays"></span>
            </div>
            <div class="total-price">
              <span data-compute-price-target="totalPrice"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<%# Displaying reviews %>
    <div class="bike-reviews border-bottom" style="padding-top: 35px; padding-bottom: 25px">
      <h4><strong>Reviews</strong></h4>
      <ul class="list-group">
        <% @bike.bookings.each do |booking| %>
          <% if !booking.reviews.empty? %>
            <div class="user-review-container">
              <div class="user-review-info">
                <div>
                  <li>
                    <% if booking.reviews.first.user.photo.attached? %>
                      <%= cl_image_tag booking.reviews.first.user.photo.key, crop: :fill, class: "avatar-bordered" %>
                    <% end %>
                  </li>
                </div>
                <div style="padding-left: 15px">
                  <li><strong><%= booking.reviews.first.user.username %></strong></li>
                  <li><%= booking.reviews.first.comment %></li>
                </div>
              </div>
              <div class="star-rating">
                <% unless booking.reviews.empty? %>
                  <div class="container">
                    <div style="display:flex;">
                      <% booking.reviews.first.rating.times do %>
                        <span class="fa fa-star checked"></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
      </ul>
    </div>

<%# Displaying map %>
    <div class="bike-map" style="padding-top: 35px; padding-bottom: 25px">
      <div class="bike-map-infos" style="padding-bottom: 15px">
        <h4><strong>Where the bike is located</strong></h4>
        <h5><%= @bike.location %></h5>
      </div>
      <div style="width: 100%; height: 300px; border-radius: 10px"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

<%# <%= link_to "delete this bike", bike_path(@bike), class: "btn btn-cancel", data: {turbo_method: :delete ,confirm: "Are you sure you want to delete this bike?" } %>
