<div class="container" style="padding: 30px 100px 30px 100px">
  <h1><%= @bike.name %></h1>
  <h5>Model: <%= @bike.model %></h5>
  <h5><%= @bike.location %></h5>
  <div class="bike-picture">
    <%= cl_image_tag @bike.photo.key, crop: :fill %>
  </div>
  <div class="bike-page-infos">
    <div class="bike-owner-infos", style="padding-right: 25px">
      <div class="owner-infos">
        <h4><strong>Owner: <%= @bike.user.username %></strong></h4>
        <% if @bike.user.photo.attached? %>
          <%= cl_image_tag @bike.user.photo.key, crop: :fill, class: "card-bike-user avatar-bordered" %>
        <% end %>
      </div>
      <div>
        <p><%= @bike.description %></p>
      </div>
    </div>

    <div class="col-md-6">
            <%# <!-- checkout -->
            <div class="bg-white border d-grid gap-2 p-3">


              <div class="d-flex justify-content-md-between mb-2">
                <p><strong>Margherita</strong> (1)</p>
                <p>£4.95</p>
              </div>

              <div class="d-flex justify-content-md-between mb-2 border-bottom">
                <p><strong>Diavola</strong> (1)</p>
                <p>£6.95</p>
              </div>

              <div class="d-flex justify-content-md-between">
                <p><strong>Total</strong></p>
                <p><strong>£23.80</strong></p>
              </div>

              <!-- make this a full length button -->
              <a href="#" class="btn btn-primary mb-2">Book now</a>
            </div>

            <!-- /checkout -->
          </div>
        </div>
      </div> %>
      <%= simple_form_for [@bike, @booking] do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <%= f.submit %>
      <% end %>

    </div>

<%# <%= link_to "delete this bike", bike_path(@bike), class: "btn btn-cancel", data: {turbo_method: :delete ,confirm: "Are you sure you want to delete this bike?" } %>
</div>


